NODE_ENV=development
PORT=8000
CLIENT_URL=http://localhost:3000
DATABASE="mongodb://localhost:27017/test"
POSTMARK_API_KEY=
JWT_SECRET=
JWT_ACCOUNT_ACTIVATION=
EMAIL_TO=coach@solutionsbyjam.com
EMAIL_FROM=noreply@solutionsbyjam.com
JWT_RESET_PASSWORD=
