NODE_ENV=development
PORT=8000
CLIENT_URL=http://localhost:3000
DATABASE="mongodb://localhost:27017/test"
POSTMARK_API_KEY=82221e63-1c56-4fcf-a50d-9e9b799b9515
JWT_SECRET=NCJNNE283NJ457Y575HHEBB457546758
JWT_ACCOUNT_ACTIVATION=8354658393774HS NBFDHBFMFD747574FN
EMAIL_TO=coach@solutionsbyjam.com
EMAIL_FROM=noreply@solutionsbyjam.com
JWT_RESET_PASSWORD=
